@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.av-typography p:not(.not-av-typography p) {
		@apply text-lg leading-7;
	}
	.av-typography h1:not(.not-av-typography h1) {
		@apply mb-4 text-4xl font-bold;
	}
	.av-typography h2:not(.not-av-typography h2) {
		@apply mb-3 mt-6 text-3xl font-bold;
	}
	.av-typography h3:not(.not-av-typography h3) {
		@apply mb-3 mt-3 text-2xl font-bold;
	}
	.av-typography blockquote p:not(.not-av-typography p) {
		@apply mb-0 italic leading-7;
		font-family: Georgia, serif;
	}
	.av-typography code:not(.not-av-typography code) {
		font-family: monospace;
		font-size: 95%;
		border-radius: 3px;
		padding: 0.2em 0;
		margin: 0;
		color: #000;
	}
	.av-typography p:not(.not-av-typography p) {
		@apply mb-1;
	}
	.av-typography pre:not(.not-av-typography pre) {
		@apply my-8 rounded-lg bg-gray-100;
	}
	.av-typography .prism-code:not(.not-av-typography .prism-code) {
		@apply m-1 !important;
	}
}
