name: Deploy Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between
# the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these
# production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: blacksmith-4vcpu-ubuntu-2204

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Use Node.js 20.x
        uses: useblacksmith/setup-node@v5
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Build packages and documentation
        run: |
          npx lerna run build --ignore "@versini/example-*" --ignore @versini/documentation --ignore @versini/bundlesize
          npx lerna run build:ci --scope=@versini/documentation

      - name: Setup Pages
        if: ${{ always() }}
        uses: actions/configure-pages@v4

      - name: Upload artifact
        if: ${{ always() }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./packages/documentation/dist"

      - name: Deploy to GitHub Pages
        if: ${{ always() }}
        id: deployment
        uses: actions/deploy-pages@v4
